<!-- Welcome section starts -->
<section class="FAQ">
  <h1>FAQ</h1>
</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "FAQ",
"settings": [],
"presets": [
{
"name": "FAQ Section",
"category": "FAQ"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}