<!-- Welcome section starts -->
<section class="FAQ">
  {% for block in section.blocks %}
  <h2>{{ block.settings.question }}</h2>
  <p>{{ block.settings.answer }}</p>
  {% endfor %}
</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "FAQ",
"tag": "section",
"class": "faq",
"blocks": [
{
"name": "Question",
"type": "questions",
"settings": [
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "text",
"id": "answer",
"label": "Answer"
}
]
}
],
"presets": [
{
"name": "FAQ Section",
"category": "FAQ"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}