<!-- Welcome section starts -->
<section class="FAQ">
  <header>
    <h1>FAQ</h1>
  </header>
</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "FAQ",
"tag": "faq",
"settings": [
],
"blocks": [
{
"name": "Question",
"type": "questions",
"settings": [
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "text",
"id": "answer",
"label": "Answer"
}
]
}
],
"presets": [
{
"name": "FAQ Section",
"category": "FAQ"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}